<div class="section">
  <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
  <h3>Howdy, GUEST</h3>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="card" *ngIf="auth.user | async as user">
    <header class="card-header">
    <p class="card-header-title">
      My Profile
    </p>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ user.displayName }}</p>
        <p class="subtitle is-6">{{ user.email }}</p>
      </div>
    </div>
    
    <div class="content">
      <h2>Your Information</h2>

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input is-medium" type="text" placeholder="Display Name" [(ngModel)]="user.displayName">
        </div>
      </div>

      <hr> 

      <h2 class="title">Employer / Agency Information</h2>
      <p>This information will be used to send invoices to your employer</p>

      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">Agency's Name</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Agency Name" [(ngModel)]="user.agency.name">
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">Agency's Phone Number</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Agency Phone Number" [(ngModel)]="user.agency.phoneNumber">
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">Your Agency Contact Name</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Your Agency Contact Name" [(ngModel)]="user.agency.contactName">
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">Your Agency Contact Email</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Your Agency Contact Name" [(ngModel)]="user.agency.contactEmail">
            </div>
          </div>
        </div>
      </div>

      
      <h5 class="title is-5">Address</h5>


      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">Address Line 1</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Address Line 1" [(ngModel)]="user.agency.address.addressLine1">
            </div>
          </div>
        </div>


        <div class="column is-6">
          <div class="field">
            <label class="label">Address Line 2</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Address Line 2" [(ngModel)]="user.agency.address.addressLine2">
            </div>
          </div>
        </div>
      </div>
      

      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">City</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Address Line 2" [(ngModel)]="user.agency.address.city">
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="field">
            <label class="label">State</label>
            <div class="control">
              <div class="select is-medium">
                <select [(ngModel)]="user.agency.address.state">
                  <option *ngFor="let state of states" [value]="state.name">{{state.abbreviation}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="columns">
        <div class="column is-6">
          <div class="field">
            <label class="label">Zipcode</label>
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Address Line 2" [(ngModel)]="user.agency.address.zipcode">
            </div>
          </div>
        </div>
      </div>

      

      <hr>

      <h2>Business Information</h2>
      <p>This information will be used for your invoicing information and for tax purposes</p>

      <div class="field">
        <label class="label">Business Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="please enter your business name" [(ngModel)]="user.businessName" [value]='user.businessName || "please enter your business name"'>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Tax Id Type</label>
        <div class="control">
          <div class="select">
            <select [(ngModel)]="user.taxIdType">
              <option [value]="ssn">Social Security Number</option>
              <option [value]="ein">Employer Identification</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Tax ID</label>
        <div class="control">
          <input class="input" type="text" placeholder="please enter your business name" [(ngModel)]="user.taxID" [value]='user.taxID || "please enter your business name"'>
        </div>
      </div>

      <hr>

      <h2>Employer Information</h2>
      

      <hr>

      <div class="field">
        <button (click)="update(user)" class="button is-info">Update Profile</button>
      </div>

    </div>
  </div>
</div>
</ng-template>
