<div class="section">
  <div *ngIf="auth.user | async; then authenticated else guest">
          <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
  <h3>Howdy, GUEST</h3>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="card" *ngIf="auth.user | async as user">
    <header class="card-header">
    <p class="card-header-title">
      My Profile
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ user.displayName }}</p>
        <p class="subtitle is-6">{{ user.email }}</p>
      </div>
    </div>
    
    <div class="content">
      <h2>Your Information</h2>

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" [(ngModel)]="user.displayName" [value]='user.displayName || "please enter a name"'>
        </div>
      </div>

      <hr> 

      <h2 class="title">Manager Information</h2>
      <p class="" *ngIf="!user.managerVerified"> Your Manager has still not been verified. Your timesheets cannot not be approved until your manager has verified themselves. An email has been sent to your manager using the email that you provided. </p>

      <div class="field">
        <label class="label">Manager's Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" [(ngModel)]="user.managerName" [value]='user.managerName || "please enter an email"'>
        </div>
      </div>
  
      <div class="field">
        <label class="label">Manager's Email</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" [(ngModel)]="user.managerEmail" [value]='user.managerEmail || "please enter your managers email"'>
        </div>
      </div>

      <hr>

      <h2>Business Information</h2>
      <p>This information will be used for your invoicing information and for tax purposes</p>

      <div class="field">
        <label class="label">Business Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="please enter your business name" [(ngModel)]="user.businessName" [value]='user.businessName || "please enter your business name"'>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Tax Id Type</label>
        <div class="control">
          <div class="select">
            <select [(ngModel)]="user.taxIdType">
              <option [value]="ssn">Social Security Number</option>
              <option [value]="ein">Employer Identification</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Tax ID</label>
        <div class="control">
          <input class="input" type="text" placeholder="please enter your business name" [(ngModel)]="user.taxID" [value]='user.taxID || "please enter your business name"'>
        </div>
      </div>

      <hr>

      <h2>Employer Information</h2>
      <p>This information will be used to send invoices to your employer</p>

      <hr>

      <div class="field">
        <button (click)="update(user)" class="button is-info">Update Profile</button>
      </div>

    </div>
  </div>
</div>
</ng-template>
