<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Time Management Made Easy
      </h1>
      <h2 class="subtitle">
        Discover what projects you work on the most. Adjust your time on projects that need more attention
      </h2>
    </div>
  </div>
</section>
<br>
<section>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">Expense Tracking</p>
            <p class="subtitle">Track expenses and reciepts. Keep up with expenses and report them to your manager.</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Manage your team’s time effortlessly</p>
            <p class="subtitle">Automatically notify your team when they’ve forgotten to log hours,</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">Discover what’s taking up your time</p>
            <p class="subtitle">See exactly how long each task takes, how many hours your team spends on different projects and clients, and who’s currently working on what.</p>
            
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">See what’s overdue and over budget</p>
          <p class="subtitle">Set up projects, assign responsibilities and follow the progress. See how well your projects are hitting the estimated timelines and budgets, and immediately spot what’s overdue or over budget. </p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Learn how profitable your company is</p>
          <p class="subtitle">Discover which projects are profitable, which employees are the most efficient and what’s bringing in the money. The comprehensive reports and analytics charts provide you with valuable business intelligence, helping you plan internal resources more efficiently.</p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>

</section>
