<footer class="footer">
  <div class="container">
  	<div class="columns">
  		<div class="column is-4">
  			<ul>
  				<li><h4 class="title is-4">Stay Connected</h4></li>
  				<!-- <li><a routerLink="/sitemap">SiteMap</a></li> -->
  				<li>@angular-matchstick</li>
  				<li>/angular-matchstick</li>
  				<li>+angular-matchstick</li>
  			</ul>
  		</div>
  		<div class="column is-4">
  			<ul>
  				<li><h4 class="title is-4">Features</h4></li>
  				<li><a routerlink="/admin">Admin Page</a></li>
  				<li><a routerlink="/theme">Style Guide</a></li>
  			</ul>
  		</div>
  		<div class="column is-4">
  			<ul>
  				<li><h4 class="title is-4">SiteMap</h4></li>
  				<li><a routerLink="/admin">Admin</a></li>
  				<li><a routerLink="/login">Login</a></li>
  				<li><a routerLink="/register">Sign Up</a></li>

  			</ul>
  		</div>
  	</div>
  	<div class="Columns">
  		<div class="column is-12">
  			<p>
  				<a routerLink="/privacy">Privacy Policy</a> | 
  				<a routerLink='/terms'>Terms of Service</a> |
  				Copyright &copy; 2018 <a href="http://genisystemstech.com">Genisystems / HPTP Design LLC.</a>
  			</p>
  		</div>
  	</div>
    <div class="content has-text-centered">
      <p>
        <strong>MatchStick</strong> by <a href="https://josephnwachukwu.com">Joseph Nwachukwu</a>. 
      </p>
    </div>
  </div>
</footer>
