

<header class="card-header">
    <p class="card-header-title" [ngClass]="{ 'strike-out': timesheet.status === 'rejected' }">
		  {{ timesheet.title || 'missing title' }} |  id: {{ timesheet.id }}
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">

<div class="content columns" *ngFor="let project of timesheet.projects">
	<div class="column is-2">
		<label>Project</label>
		<input
			class="input"
			[(ngModel)]="project.client"
			[disabled]="true"
			>
	</div>
	<div class="column is-2">
		<label>Task</label>
		<input
			class="input"
			[(ngModel)]="project.initiative"
			[disabled]="true"
			>
	</div>
	
	<div class="column is-1">
		<label>Mon</label>
		<input
			class="input"
			[(ngModel)]="project.week.monday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Tue</label>
		<input
			class="input"
			[(ngModel)]="project.week.tuesday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Wed</label>
		<input
			class="input"
			[(ngModel)]="project.week.wednesday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Thu</label>
		<input
			class="input"
			[(ngModel)]="project.week.thursday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Fri</label>
		<input
			class="input"
			[(ngModel)]="project.week.friday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Sat</label>
		<input
			class="input"
			[(ngModel)]="project.week.saturday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Sun</label>
		<input
			class="input"
			[(ngModel)]="project.week.sunday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<strong>Total</strong>
		<input
			class="input"
			[(ngModel)]="project.total"
			[disabled]="true"
			>
	</div>
</div>
</div>
<div class="card-content">
  Timesheet Status: {{ timesheet.status }}<br>
</div>

<div class="card-footer">
  <div class="card-footer-item" *ngIf='timesheet.status === "draft"' > 
  	<a (click)='updateStatus(timesheet)'>Submit</a>
  </div>
  <div class="card-footer-item" *ngIf='timesheet.status !== "submitted"'>
	<a (click)='updateActive(true)'>Edit</a>
  </div>
  <div class="card-footer-item">
	<a (click)='deleteTimesheet()'>Delete</a>
  </div>
  <div class="card-footer-item">
	<a (click)='timesheetSvc.ConvertToCSV2(timesheet)'>Export</a>
  </div>
</div>
