<h3 [ngClass]="{ 'strike-out': timesheet.status === 'rejected' }">
  {{ timesheet.title || 'missing title' }} |  id: {{ timesheet.id }}
</h3>
<div class="content columns" *ngFor="let project of timesheet.projects">
	<div class="column is-2">
		<label>Initiative</label>
		<input
			class="input"
			[(ngModel)]="project.initiative"
			[disabled]="true"
			>
	</div>
	<div class="column is-2">
		<label>Client</label>
		<input
			class="input"
			[(ngModel)]="project.client"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Monday</label>
		<input
			class="input"
			[(ngModel)]="project.week.monday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Tuesday</label>
		<input
			class="input"
			[(ngModel)]="project.week.tuesday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Wednesday</label>
		<input
			class="input"
			[(ngModel)]="project.week.wednesday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Thursday</label>
		<input
			class="input"
			[(ngModel)]="project.week.thursday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Friday</label>
		<input
			class="input"
			[(ngModel)]="project.week.friday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Saturday</label>
		<input
			class="input"
			[(ngModel)]="project.week.saturday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<label>Sunday</label>
		<input
			class="input"
			[(ngModel)]="project.week.sunday.hours"
			[disabled]="true"
			>
	</div>
	<div class="column is-1">
		<strong>Total</strong>
		<input
			class="input"
			[(ngModel)]="project.total"
			[disabled]="true"
			>
	</div>
</div>

<div class="card-content">
  Timesheet Status: {{ timesheet.status }}<br>
</div>

<div class="card-footer">
  <!--<span class="button is-small is-info card-footer-item" (click)='updateTimeStamp()'>Update Status</span>-->
  <span class="button is-small is-info card-footer-item" *ngIf='timesheet.status === "draft"' (click)='updateStatus(timesheet)'>Submit for Approval</span>
  <span class="button is-small is-warning card-footer-item" *ngIf='timesheet.status !== "submitted"' (click)='updateActive(true)'>Edit</span>
  <span class="button is-small is-danger card-footer-item" (click)='deleteTimesheet()'>Delete</span>
  <span class="button is-small is-success card-footer-item" (click)='timesheetSvc.ConvertToCSV2(timesheet)'>Export to Excel</span>
</div>
