<form>

<div class="field">
  <label class="label">Client Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input" [(ngModel)]="client.clientName">
  </div>
</div>

<div class="field">
  <label class="label">Manager Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input"  [(ngModel)]="client.managerName">
  </div>
</div>


<div class="field">
  <label class="label">Manager Email</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input"  [(ngModel)]="client.managerEmail">
  </div>
</div>

</form>
