<form>

<div class="field">
  <label class="label">Client Name</label>
  <div class="control">
    <input class="input" type="text" name="clientName" placeholder="Text input" [(ngModel)]="client.clientName">
  </div>
</div>

<div class="field">
  <label class="label">Manager Name</label>
  <div class="control">
    <input class="input" type="text" name="managerName" placeholder="Text input"  [(ngModel)]="client.managerName">
  </div>
</div>


<div class="field">
  <label class="label">Manager Email</label>
  <div class="control">
    <input class="input" type="text" name="managerEmail" placeholder="Text input"  [(ngModel)]="client.managerEmail">
  </div>
</div>
<div class="field">
  <label class="label">Manager Email</label>
  <div class="control">
    <button class="button is-info" (click)="createClient(client)">create client</button>
  </div>
</div>

</form>
