<div *ngIf="!(auth.user | async); else alreadyLoggedIn">

  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Social Login</p>
        <button (click)="signInWithGoogle()" class="button btn-social btn-google">
          <i class="fa fa-google fa-lg"></i> Connect With Google
        </button>

        <button (click)="signInWithFacebook()" class="button  btn-social btn-facebook">
          <i class="fa fa-facebook fa-lg"></i> Connect With Facebook
        </button>
      </div>
      <div class="tile is-child box">
        <p class="title">Anonymous Login</p>
        <p><button (click)="signInAnonymously()" class="button button-info">
        <i class="fa fa-user-secret fa-lg"></i> Connect Anonymously
      </button></p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <user-form></user-form>
      </div>
    </div>
  </div>
</div>

<ng-template #alreadyLoggedIn>
  <section>
    <h3>Welcome</h3>
  </section>
</ng-template>
