<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <label class="label">Name: </label>
<input placeholder="Item Title" class="input"
[(ngModel)]="timesheet.title"
required minlength="2" maxlength="50"
#title='ngModel' autofocus>
    </p>
  </header>
  <div class="card-content">
    <div class="content timesheet-content">
    	
    	<div class="notification is-danger" *ngIf="maxHoursExceeded">
		  Error: You cannot have more than 24 hours of work each day. Please Adjust your hours.
		</div>
    	<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    		<thead>
    			<tr>
    				<th>
    					Projects
    				</th>
    				<th>
    					Tasks
    				</th>
    				<th>
    					{{timesheet.projects[0].week.monday.day}}
    				</th>
    				<th>
    					{{timesheet.projects[0].week.tuesday.day}}
    				</th>
    				<th>
    					{{timesheet.projects[0].week.wednesday.day}}
    				</th>
    				<th>
    					{{timesheet.projects[0].week.thursday.day}}
    				</th>
    				<th>
    					{{timesheet.projects[0].week.friday.day}}
    				</th>
    				<th>
    					{{timesheet.projects[0].week.saturday.day}}
    				</th>
    				<th>
    					{{timesheet.projects[0].week.sunday.day}}
    				</th>
    				<th>
    					Total
    				</th>
    			</tr>
    		</thead>
    		<tfoot>
    			<tr>
    				<th colspan="2">
    					Total: <strong> {{convertTime(totalSum(timesheet))}}</strong>
    				</th>
    				<!-- <th>
    					
    				</th> -->
    				<th>
    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'monday') <= 0}">{{convertTime(sumEachDay(timesheet, 'monday'))}}</span>
    				</th>
    				<th>
    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'tuesday') <= 0}">{{convertTime(sumEachDay(timesheet, 'tuesday'))}}</span>
    				</th>
    				<th>
    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'wednesday') <= 0}">{{convertTime(sumEachDay(timesheet, 'wednesday'))}}</span>
    				</th>
    				<th>
    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'thursday') <= 0}">{{convertTime(sumEachDay(timesheet, 'thursday'))}}</span>
    				</th>
    				<th>
    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'friday') <= 0}">{{convertTime(sumEachDay(timesheet, 'friday'))}}</span>
    				</th>
    				<th>
    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'saturday') <= 0}">{{convertTime(sumEachDay(timesheet, 'saturday'))}}</span>
    				</th>
    				<th>
    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'sunday') <= 0}">{{convertTime(sumEachDay(timesheet, 'sunday'))}}</span>
    				</th>
    				<th>
    					
    				</th>
    			</tr>
    		</tfoot>
    		<tbody>
    			<tr *ngFor="let project of timesheet.projects; let i = index">
    				<td width="21%">
    					<div class="field">
    						<div class="control"  *ngIf="!project.initiative?.id">
    							<div class="select is-fullwidth">
    								<a class="delete" (click)="deleteProject(timesheet, i)"></a>
    								<select [(ngModel)]="project.initiative" name="project" (ngModelChange)="setProject($event)">
						    			<option 
						    				*ngFor="let proj of projectsList" 
						    				[selected]="project.initiative?.id == proj.id" 
						    				[ngValue]="proj">
					      				{{ proj.name }}
					    				</option>
    								</select>

    							</div>

    							
    						</div>
    						<div class="control"  *ngIf="project.initiative?.id">
    							<a class="delete" (click)="deleteProject(timesheet, i)"></a>
								<input
    								class="input is-fullwidth"
									[disabled]="project.initiative.id"
									[attr.readOnly]="project.initiative.id"
									[(ngModel)]="project.initiative.name"
								>
							</div>
    					</div>
    				</td>
    				<td width="15%">
    					<div class="field">
    						<div class="control">
    							<input 
    								class="input is-fullwidth"
    								type="text"
    								[(ngModel)]="project.task"
    								required>
    						</div>
    					</div>
    				</td>
    				<td width="8%" [ngClass]="{'has-error': errors.monday.maxHoursExceeded}">
    					<div class="field">
    						<div class="control">
    							<input
									[(ngModel)]="project.week.monday.hours"
									class="input is-fullwidth"
									[ngClass]="{'is-danger': errors.monday.maxHoursExceeded}"
									type='text'
									placeholder="0"
									minlength="1"
									maxlength="2"
									min="0"
						  			max="24"
									required
									hoursMask
						      		numbersOnly
									(change)="calculateHours(project)"
								>
    						</div>
    					</div>
    				</td>
    				<td width="8%">
    					<div class="field">
    						<div class="control">
    							<input
									[(ngModel)]="project.week.tuesday.hours"
									class="input is-fullwidth"
									type='text'
									placeholder="0"
									minlength="1"
									maxlength="2"
									min="0"
						  			max="24"
									required
									hoursMask
						      		numbersOnly
									(change)="calculateHours(project)"
								>
    						</div>
    					</div>
    				</td>
    				<td width="8%">
    					<div class="field">
    						<div class="control">
    							<input
									[(ngModel)]="project.week.wednesday.hours"
									class="input is-fullwidth"
									type='text'
									placeholder="0"
									minlength="1"
									maxlength="2"
									min="0"
						  			max="24"
									required
									hoursMask
						      		numbersOnly
									(change)="calculateHours(project)"
								>
    						</div>
    					</div>
    				</td>
    				<td width="8%">
    					<div class="field">
    						<div class="control">
    							<input
									[(ngModel)]="project.week.thursday.hours"
									class="input is-fullwidth"
									type='text'
									placeholder="0"
									minlength="1"
									maxlength="2"
									min="0"
						  			max="24"
									required
									hoursMask
						      		numbersOnly
									(change)="calculateHours(project)"
								>
    						</div>
    					</div>
    				</td>
    				<td width="8%">
    					<div class="field">
    						<div class="control">
    							<input
									[(ngModel)]="project.week.friday.hours"
									class="input is-fullwidth"
									type='text'
									placeholder="0"
									minlength="1"
									maxlength="2"
									min="0"
						  			max="24"
									required
									hoursMask
						      		numbersOnly
									(change)="calculateHours(project)"
								>
    						</div>
    					</div>
    				</td>
    				<td width="8%">
    					<div class="field">
    						<div class="control">
    							<input
									[(ngModel)]="project.week.saturday.hours"
									class="input is-fullwidth"
									type='text'
									placeholder="0"
									minlength="1"
									maxlength="2"
									min="0"
						  			max="24"
									required
									hoursMask
						      		numbersOnly
									(change)="calculateHours(project)"
								>
    						</div>
    					</div>
    				</td>
    				<td width="8%">
    					<div class="field">
    						<div class="control">
    							<input
									[(ngModel)]="project.week.sunday.hours"
									class="input is-fullwidth"
									type='text'
									placeholder="0"
									minlength="1"
									maxlength="2"
									min="0"
						  			max="24"
									required
									hoursMask
						      		numbersOnly
									(change)="calculateHours(project)"
								>
    						</div>
    					</div>
    				</td>
    				<td width="8%">
    					<div class="field">
    						<div class="control">
    							<input
									class="input"
									type='text'
									[disabled]="true"
									[(ngModel)]="project.total"
								>
    						</div>
    					</div>
    				</td>
    			</tr>
    			<tr>
    				<td colspan="2">
    					<button class="button is-text"
	(click)='addProject()'>+ Project</button>
					</td>
					<td>
						<div class="field">
    						<div class="control">
    							<input
    								[disabled]="true"
									class="input is-fullwidth"
								>
    						</div>
    					</div>
					</td>
					<td>
						<div class="field">
    						<div class="control">
    							<input
    								[disabled]="true"
									class="input is-fullwidth"
								>
    						</div>
    					</div>
					</td>
					<td>
						<div class="field">
    						<div class="control">
    							<input
    								[disabled]="true"
									class="input is-fullwidth"
								>
    						</div>
    					</div>
					</td>
					<td>
						<div class="field">
    						<div class="control">
    							<input
    								[disabled]="true"
									class="input is-fullwidth"
								>
    						</div>
    					</div>
					</td>
					<td>
						<div class="field">
    						<div class="control">
    							<input
    								[disabled]="true"
									class="input is-fullwidth"
								>
    						</div>
    					</div>
					</td>
					<td>
						<div class="field">
    						<div class="control">
    							<input
    								[disabled]="true"
									class="input is-fullwidth"
								>
    						</div>
    					</div>
					</td>
					<td>
						<div class="field">
    						<div class="control">
    							<input
    								[disabled]="true"
									class="input is-fullwidth"
								>
    						</div>
    					</div>
					</td>
					<td>
						<div class="field">
    						<div class="control">
    							<input
    								[disabled]="true"
									class="input is-fullwidth"
								>
    						</div>
    					</div>
					</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
    <hr>
    <div class="columns">
  		<div class="column is-auto">
  			<button class="button is-info" (click)='update(timesheet.id, timesheet)'> Update</button> &nbsp; &nbsp;
  			<button class="button is-danger" (click)='cancelUpdate(timesheet)'> Cancel</button>
  		</div>
  	</div>
  </div>
</div>
<hr>
<br>
<br>