<div id="wrapper">
  <main-nav></main-nav>

    <div class="container--adjustments">
      <main>
      <notification-message></notification-message>
      <router-outlet></router-outlet>
      </main>
    </div>
</div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Epoch Time Tracking</strong> Copyright &copy; 2017-2019 <a href="http://gensiystemstech.com" target="_blank">Genisystems / HPTP Design LLC</a>. 
        </p>
      </div>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <h5 class="title is-5">Product</h5>
          <ul>
            <li><a routerLink="/featrues">Features</a></li>
            <li><a routerLink="/whyEpoch">Why Use Epoch</a></li>
          </ul>
        </div>
        <div class="column">
          <h5 class="title is-5">Solutions</h5>
          <ul>
            <li><a routerLink="/solutions/time">Time Tracking</a></li>
            <li><a routerLink="/solutions/expenses">Expense Tracking</a></li>
            <li><a routerLink="/solutions/invoicing">Invoicing</a></li>
            <li><a routerLink="/solutions/reporting">Reporting</a></li>
            <li><a routerLink="/solutions/app">App</a></li>
          </ul>
        </div>
        <div class="column">
          <h5 class="title is-5">Company</h5>
          <ul>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/roadmap">Road Map</a></li>
            <li><a routerLink="/blog">Blog</a></li>
          </ul>
        </div>
        <div class="column">
          <h5 class="title is-5">Support</h5>
          <ul>
            <li><a routerLink="/help">Help</a></li>
            <li><a routerLink="/tutorials">Tutorials</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> 