<div id="wrapper">
  <main-nav></main-nav>

    <div style="margin-top:52px;">
      <main>
      <notification-message></notification-message>
      <router-outlet></router-outlet>
      </main>
    </div>
</div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Epoch Time Tracking</strong> Copyright &copy; 2017 <a href="http://josephnwachukwu.github.io">Joseph Nwachukwu</a>. 
        </p>
      </div>
    </div>
  </footer> 