<div class="box">
	<div class="container">
		<h4 class="title is-4">Create Invoice</h4>
	    <div class="tabs is-toggle is-centered is-meduim">
		  <ul>
		    <li class="is-active" [ngClass]="{'is-active': activeTab==='edit'}">
		      <a (click)="activeTab = 'edit'">
		        <span>Edit</span>
		      </a>
		    </li>
		    <li [ngClass]="{'is-active': activeTab==='preview'}">
		      <a  (click)="activeTab = 'preview'">
		        <span>Preview</span>
		      </a>
		    </li>
		  </ul>
		</div>
		<hr>

		<div [hidden]="activeTab!=='edit'">
			<div class="columns">
				<div class="column is-6">
					<div class="field">
					  <label class="label">Invoice Name</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.name" placeholder="company Address">
					  </div>
					</div>
				</div>
			</div>
			<div class="columns">
				<div class="column is-6">
					<h4 class="title is-4">From:</h4>
					<h5 class="title is-5">Company</h5>
					<p>Details about your company</p>
					<div class="field">
					  <label class="label">Company Name</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.company.name" placeholder="company Name">
					  </div>
					</div>
					<div class="field">
					  <label class="label">Address Line 1</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.company.address.addressLine1" placeholder="company Address">
					  </div>
					</div>
					<div class="field">
					  <label class="label">Address Line 2</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.company.address.addressLine2" placeholder="company Address">
					  </div>
					</div>
					<div class="field">
					  <label class="label">City</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.company.address.city" placeholder="company Address">
					  </div>
					</div>
					<div class="field">
					  <label class="label">State</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.company.address.state" placeholder="company Address">
					  </div>
					</div>
					<div class="field">
					  <label class="label">Zipcode</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.company.address.zipcode" placeholder="company Address">
					  </div>
					</div>
				</div>
				<div class="column is-6">
					<h4 class="title is-4">To:</h4>
					<h5 class="title is-5">Agency</h5>
					<p>The agency that you will be billing</p>
					<div class="field">
					  <label class="label">Agency Name</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.agency.name" placeholder="Agency Name">
					  </div>
					</div>
					<div class="field">
					  <label class="label">Address Line 1</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.agency.address.addressLine1" placeholder="Agency Address">
					  </div>
					</div>
					<div class="field">
					  <label class="label">Address Line 2</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.agency.address.addressLine2" placeholder="Agency Address">
					  </div>
					</div>
					<div class="field">
					  <label class="label">City</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.agency.address.city" placeholder="Agency Address">
					  </div>
					</div>
					<div class="field">
					  <label class="label">State</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.agency.address.state" placeholder="Agency Address">
					  </div>
					</div>
					<div class="field">
					  <label class="label">Zipcode</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.agency.address.zipcode" placeholder="Agency Address">
					  </div>
					</div>
				</div>
			</div>
			<hr>
			<div class="columns">
				<div class="column is-6">
					<div class="field">
					  <label class="label">Invoice Number</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.number" placeholder="Invoice Number">
					  </div>
					</div>
					<div class="field">
					  <label class="label">Date</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.date" placeholder="Date">
					  </div>
					</div>
 
					<div class="field">
					  <label class="label">Terms</label>
					  <div class="control">
					    <div class="select is-fullwidth">
					      <select [(ngModel)]="invoice.term">
					        <option value="Upon Request" [attr.selected]="invoice.term === 'Upon Request'">Upon Request</option>
					        <option>With options</option>
					      </select>
					    </div>
					  </div>
					</div>
				</div>
				<div class="column is-6">
					<div class="field">
						<label class="checkbox">
						  <input type="checkbox" (change)="toggleFeature('hasTax', $event)">
						  Is Tax applicable on this invoice
						</label>
					</div>
					
					<div class="field" *ngIf="invoice.hasTax">
					  <label class="label">Tax Rate</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.tax" placeholder="Tax Rate">
					  </div>
					</div>

					<div class="field">
						<label class="checkbox">
						  <input type="checkbox" (change)="toggleFeature('hasDiscount', $event)">
						  Is a Discount applicable on this invoice
						</label>
					</div>

					<div class="field" *ngIf="invoice.hasDiscount">
					  <label class="label">Discount</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.discount" placeholder="Discount">
					  </div>
					</div>
				</div>
			</div>
			<hr>
			<div class="columns">
				<div class="column is-12">
					<h5 class="title is-5">Line Items</h5>
						<p>Select the timesheets you would like to apply to this invoice.</p> 
						<ul>
							<li>Only billable projects from each timesheet will be added to the invoice</li>
							<li>Only approved timesheets can be added to this invoice</li>
						</ul>
						<br><br>
					<div class="" *ngFor="let timesheet of timesheetService.timesheets | async" >
						<div class="columns" *ngIf="!timesheet.invoiced">
							<div class="column is-1 is-centered">
								<input type="checkbox" (change)="toggleLineItem(timesheet, $event)">
							</div>
							<div class="column is-11">
								<div class="card" >
									<header class="card-header">
									    <p class="card-header-title">
									      {{timesheet.weekStarting}} - {{timesheet.weekEnding}}
									    </p>
									  </header>
									  <div class="card-content">
									  	<div *ngFor="let project of timesheet.projects">
									  		<div *ngIf="project.initiative.billable">
									  			{{project.initiative.name}} - {{project.task}} - {{project.total}} Hrs
									  		</div>
									  	</div>
									  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="columns">
				<div class="column is-6">
					<div class="field">
						<label class="checkbox">
						  <input type="checkbox" (change)="toggleFeature('hasComments', $event)">
						  Additional Comments
						</label>
					</div>

					<div class="field" *ngIf="invoice.hasComments">
					  <label class="label">Comments</label>
					  <div class="control">
					    <input class="input" type="text" [(ngModel)]="invoice.comments" placeholder="Comments">
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div [hidden]="activeTab!=='preview'">
			<div class="columns">
				<div class="column is-12">
					<h4 class="title is-4">Invoice</h4>
				</div>
			</div>
			<div class="columns">
				<div class="column is-6">
					<ul *ngIf="user">
						<li><h5 class="title is-5">{{invoice.company.name}}</h5></li>
						<li>
							<ul>
								<li>{{invoice.company.address.addressLine1}}, {{invoice.company.address.addressLine2}}</li>
								<li>{{invoice.company.address.city}}, {{invoice.company.address.state}} {{invoice.company.address.zipcode}}</li>
								<li>{{invoice.company.phoneNumber}}</li>
								<li>{{invoice.company.email}}</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="columns">
				<div class="column is-6">

					<ul *ngIf="user">
						<li><strong>Bill To:</strong> </li>
						<li>{{user.agency.name}}</li>
						<li>
							<ul>
								<li>{{user.agency.address.addressLine1}}, {{user.agency.address.addressLine2}}</li>
								<li>{{user.agency.address.city}}, {{user.agency.address.state}} {{user.agency.address.zipcode}}</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="column is-6">
					<ul *ngIf="user">
						<li><strong>For:</strong> </li>
						<li>{{invoice.displayName}}</li>
						<li>{{invoice.for}}</li>
					</ul>
				</div>
			</div>
			<div class="columns">
					<div class="column is-12">
						<table class="table is-bordered is-striped is-hoverable is-fullwidth">
							<thead>
								<tr>
									<th>Description</th>
									<th>Hours</th>
									<th>Rate</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let lineItem of invoice.lineItems; let i = index">
									<td>{{lineItem.weekStarting}} - {{lineItem.weekEnding}}</td>
									<td>{{billableHours(lineItem)}}</td>
									<td>{{invoice.agency.rate}}</td>
									<td>{{calculateTotalHours(i, billableHours(lineItem))  | number: '1.1-3' }}</td>
								</tr>
								<tr *ngIf="invoice.lineItems.length == 0">
									<td>No Items added yet please add an item</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td>Subtotal</td>
									<td>{{calcSubtotal()  | number: '1.1-3' }}</td>
								</tr>
								<tr *ngIf="invoice.hasTax">
									<td></td>
									<td></td>
									<td>Tax ({{invoice.tax | number: '1.1-3' }}%)</td>
									<td>{{calcTax()  | number: '1.1-3' }}</td>
								</tr>
								<tr *ngIf="invoice.hasDiscount">
									<td></td>
									<td></td>
									<td>Discount</td>
									<td>{{invoice.discount  | number: '1.1-3' }}</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td>Total</td>
									<td>{{calcFinalTotal()  | number: '1.1-3' }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="columns">
					<div class="column is-6">
						<p>
							Make all checks payable to {{invoice.company.name}} 
							<br>
							Total Due {{invoice.terms}}
							<br>
							<br>
							
						</p>
						<div *ngIf="invoice.hasComments">
							<ul>
								<li>Additional Comments</li>
								<li>{{invoice.comments}}</li>
							</ul>
						</div>
				</div>
				</div>
				<div class="columns">
					<div class="column is-12 is-centered">
						<span class="title is-5"> Thank you for your business</span>
					</div>
				</div>
		</div>
		<div class="columns">
			<div class="column is-12">
				<button class="button is-success" (click)="createInvoice(invoice)">Save</button>
			</div>
		</div>
	</div>
</div>