<form [formGroup]="userForm"  *ngIf="newUser"  (ngSubmit)="signup()">

  <h3>New User Signup</h3>
  <p class="button is-small" (click)="toggleForm()">Already Registered?</p>
  <hr>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input
        type="email"
        id="email"
        class="input"
        formControlName="email"
        required >
        <div *ngIf="formErrors.email" class="help is-danger">
          {{ formErrors.email }}
        </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input
      class="input"
      type="password"
      placeholder="password"
      required
      formControlName="password"
      id="password">
    </div>
    <div *ngIf="formErrors.password" class="help is-danger">
      {{ formErrors.password }}
    </div>
  </div>

  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Joe123"
        formControlName="userName"
        name="username"
        id="username">
    </div>
  </div>

    <div class="field">
    <label class="label">First Name</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Joey"
        name="firstName"
        formControlName="firstName"
        id="firstName">
    </div>
  </div>

  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Stark"
        name="lastName"
        formControlName="lastName">
    </div>
  </div>
  <hr>
  <h4>Employment</h4>
  {{ userForm.form | json }}
  <div class="field">
  <div class="control">
    <label class="radio">
      <input type="radio" name="employment" value="permanentlyEmployed" formControlName="employment">
      I am permanently employed through a company
    </label>
    <br>
    <label class="radio">
      <input type="radio" name="employment" value="employedThroughAgency" formControlName="employment">
      I work through a staffing agency
    </label>
    <br>
    <label class="radio">
      <input type="radio" name="employment" value="soleProprietor" formControlName="employment">
      I am a sole proprietor who does business as a company or LLC.
    </label>
  </div>
</div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" value="true" required  formControlName="agreeToTerms">
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div>


  <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>
  <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

</form>


<form [formGroup]="returningUserForm"  *ngIf="!newUser"  (ngSubmit)="login()">

  <h3>Existing User Login</h3>
  <p class="btn button is-small" (click)="toggleForm()">New User?</p>
  <hr>


  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input type="email" id="email" class="input"
           formControlName="email" required >
        <div *ngIf="formErrors.email" class="help is-danger">
          {{ formErrors.email }}
        </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input
      class="input"
      type="password"
      placeholder="password"
      required
      formControlName="password"
      id="password">
    </div>
    <div *ngIf="formErrors.password" class="help is-danger">
      {{ formErrors.password }}
    </div>
  </div>

  <div class="field">
    <label class="label">Company</label>
    <div class="control">
      <input
      class="input"
      type="text"
      placeholder="Company ABC"
      required
      formControlName="company"
      id="company">
    </div>
<!--     <div *ngIf="formErrors.password" class="help is-danger">
      {{ formErrors.password }}
    </div> -->
  </div>

  <button type="submit" class="button" [disabled]="!returningUserForm.valid">Submit</button>

  <span *ngIf="userForm.valid" class="help is-success">Form Looks Valid</span>

  <a *ngIf="!passReset && userForm.controls.email.valid" class="help is-info" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
  <p *ngIf="passReset" class="help is-info">Reset requested. Check your email instructions.</p>

</form>
