@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/functions.sass';

$violet: #8860D0;
$aqua-green: #00c4a7;
$blue-gray: #C1C8E4;
$afternoon-blue: #5AB9EA;
$pastelle-blue: #5680E9;
$carnation: #EDB5BF;



@import "~bulma/bulma.sass";