<div class="columns" *ngIf="client | async as client">
	<div class="column is-3">
		<div class="box">
			<nav class="panel">
			  <a class="panel-block"  [ngClass]="{'is-active': activePanel === 'summary'}" (click)="activePanel = 'summary'">
			    Overview
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'timesheets'}" (click)="activePanel = 'timesheets'">
			    Timesheets
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'projects'}" (click)="activePanel = 'projects'">
			    Projects
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'expenses'}" (click)="activePanel = 'expenses'">
			    Expenses
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'reports'}" (click)="activePanel = 'reports'">
			    Reports
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'invoices'}" (click)="activePanel = 'invoices'">
			    Invoices
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'editClient'}" (click)="activePanel = 'editClient'">
			    Update Client Info
			  </a>
			</nav>
		</div>
	</div>
	<div class="column is-9">
		<div class="box client-center-container">
			<h2>{{ client.clientName }}</h2>
			<hr>

			<!-- Summary Panel -->
			<div *ngIf="activePanel ==='summary'">
				<div class="notification is-danger">
			    You have not added a manager yet. Your timesheets cannot be approved until you add a manager
			  	</div>
			  	<div class="notification is-danger">
			    You manager has not been verified yet. Your timesheets cannot be approved until your manager has been verfied
			  	</div>
			  	<hr>
			</div>

			<!-- Timesheets Panel -->
			<div *ngIf="activePanel ==='timesheets'">
				<nav class="level">
					<div class="level-left">
						<div class="level-item">
							Timesheets
						</div>
						<div class="level-item">
							<div class="control">
								<input class="input" type="text" placeholder="Find a timesheet">
							</div>
						</div>
					</div>
					<div class="level-right">
						<div class="field">
					      <p class="control">
					        <button class="button is-success">+ New Timesheet</button>
					      </p>
					    </div>
					</div>
				</nav>
				<div class="column is-12"*ngFor="let timesheet of timesheetService.timesheets | async">
					<div class="card">
						  <header class="card-header">
						    <p class="card-header-title">
						      {{timesheet.title}}
						    </p>
						  </header>
						  <div class="card-content">
						    <div class="content">
						    	<h4>Projects</h4>
						    	<div *ngFor="let project of timesheet.projects">

						    	<div class="field is-grouped is-grouped-multiline">
						    		<div class="control">
									    <div class="tags has-addons">
									      <span class="tag "> <strong>
									      	{{project.project}}
									      </strong>
									    </span>
									      <span class="tag">{{project.initiative}}</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag">Mon</span>
									      <span class="tag is-primary">{{project.week.monday.hours}} hrs</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag">Tue</span>
									      <span class="tag is-primary">{{project.week.tuesday.hours}} hrs</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag">Wed</span>
									      <span class="tag is-primary">{{project.week.wednesday.hours}} hrs</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag">Thu</span>
									      <span class="tag is-primary">{{project.week.thursday.hours}} hrs</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag">Fri</span>
									      <span class="tag is-primary">{{project.week.friday.hours}} hrs</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag">Sat</span>
									      <span class="tag is-primary">{{project.week.saturday.hours}} hrs</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag">Sun</span>
									      <span class="tag is-primary">{{project.week.sunday.hours}} hrs</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag is-info">Total</span>
									      <span class="tag"><strong>{{project.total}} hrs</strong></span>
									    </div>
									  </div>
						    	</div>
						    	</div>
						      <br>
						      <div class="field is-grouped is-grouped-multiline">
							  <div class="control">
							    <div class="tags has-addons">
							      <span class="tag ">Status</span>
							      <span class="tag is-info">{{timesheet.status}}</span>
							    </div>
							  </div>

							  <div class="control">
							    <div class="tags has-addons">
							      <span class="tag ">Created:</span>
							      <span class="tag is-success">{{timesheet.time}}</span>
							    </div>
							  </div>
							</div>
						    </div>
						  </div>
						  <footer class="card-footer">
						  	<a href="#" class="card-footer-item">Submit</a>
						    <a href="#" class="card-footer-item">Edit</a>
						    <a href="#" class="card-footer-item">Delete</a>
						  </footer>
						</div>
				</div>
			</div>

			<!-- Projects Panel -->
			<div *ngIf="activePanel ==='projects'">
				<h3>Projects</h3>
				<hr>
			</div>

			<!-- Expenses Panel -->
			<div *ngIf="activePanel ==='expenses'">
				<h3>Expenses</h3>
				<hr>
			</div>

			<!-- Reports Panel -->
			<div *ngIf="activePanel ==='reports'">
				<h3>Reports</h3>
				<hr>
			</div>

			<!-- Invoices Panel -->
			<div *ngIf="activePanel ==='invoices'">
				<h3>Invoices</h3>
				<hr>
			</div>

			<!-- Edit Client Panel -->
			<div *ngIf="activePanel ==='editClient'">
				<h3>Edit Client Information</h3>
				<hr>
				<span class="button is-small is-danger" (click)='deleteClient(client?.id)'>Delete</span>
			</div>
		</div>
	</div>
</div>

<div class="modal" [ngClass]="{'is-active': timesheetModalActive === true}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <timesheet-detail-modal timesheetId="timesheet"></timesheet-detail-modal>
  </div>
</div>
