<div class="columns" *ngIf="client | async as client">
	<div class="column is-2">
		<div class="box">
			<nav class="panel">
			  <a class="panel-block"  [ngClass]="{'is-active': activePanel === 'summary'}" (click)="activePanel = 'summary'">
			    Overview
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'timesheets'}" (click)="activePanel = 'timesheets'">
			    Timesheets
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'projects'}" (click)="activePanel = 'projects'">
			    Projects
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'expenses'}" (click)="activePanel = 'expenses'">
			    Expenses
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'reports'}" (click)="activePanel = 'reports'">
			    Reports
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'invoices'}" (click)="activePanel = 'invoices'">
			    Invoices
			  </a>
			  <a class="panel-block" [ngClass]="{'is-active': activePanel === 'editClient'}" (click)="activePanel = 'editClient'">
			    Update Client Info
			  </a>
			</nav>
		</div>
	</div>
	<div class="column is-10">
		<div class="box client-center-container">
			
			<h3 class="title is-3"><canvas iconGenerator txt="{{client.clientName}}"></canvas> &nbsp; {{ client.clientName }}</h3>
			<hr>
			<!-- Summary Panel -->
			<div *ngIf="activePanel ==='summary'">
				<div class="notification is-warning" *ngIf="!client.managerName && !client.managerEmail">
			    You have not added a manager yet. Your timesheets cannot be approved until you add a manager
			  	</div>
			  	<div class="notification is-warning" *ngIf="!client.managerVerified">
			    <i class="fa fa-exclamation-triangle"></i> Your manager has not been verified yet. Your timesheets cannot be approved until your manager has been verfied
			  	</div>
			  	<hr>
			</div>

			<!-- Timesheets Panel -->
			<div *ngIf="activePanel ==='timesheets'">

				<timesheet-form [clientId]="clientId"></timesheet-form>
				
				<div class="column is-12"*ngFor="let timesheet of timesheetService.timesheets | async">
					<div class="card">
						  <header class="card-header">
						    <p class="card-header-title">
						      {{timesheet.title}}
						    </p>
						  </header>
						  <div class="card-content">
						  	<div class="content timesheet-content">

								<timesheet-edit *ngIf='!timesheet.readOnly' [timesheet]="timesheet" [clientId]="clientId"></timesheet-edit>

								
						  		<div *ngIf="timesheet.readOnly">

						  			<table class="table is-bordered is-striped is-hoverable is-fullwidth">
						    		<thead>
						    			<tr>
						    				<th>
						    					Projects
						    				</th>
						    				<th>
						    					Tasks
						    				</th>
						    				<th>
						    					{{timesheet.projects[0].week.monday.day}}
						    				</th>
						    				<th>
						    					{{timesheet.projects[0].week.tuesday.day}}
						    				</th>
						    				<th>
						    					{{timesheet.projects[0].week.wednesday.day}}
						    				</th>
						    				<th>
						    					{{timesheet.projects[0].week.thursday.day}}
						    				</th>
						    				<th>
						    					{{timesheet.projects[0].week.friday.day}}
						    				</th>
						    				<th>
						    					{{timesheet.projects[0].week.saturday.day}}
						    				</th>
						    				<th>
						    					{{timesheet.projects[0].week.sunday.day}}
						    				</th>
						    				<th>
						    					Total
						    				</th>
						    			</tr>
						    		</thead>
						    		<tfoot *ngIf="false">
						    			<tr>
						    				<th colspan="2">
						    					Total: <strong> {{convertTime(totalSum(timesheet))}}</strong>
						    				</th>
						    				<!-- <th>
						    					
						    				</th> -->
						    				<th>
						    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'monday') <= 0}">{{convertTime(sumEachDay(timesheet, 'monday'))}}</span>
						    				</th>
						    				<th>
						    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'tuesday') <= 0}">{{convertTime(sumEachDay(timesheet, 'tuesday'))}}</span>
						    				</th>
						    				<th>
						    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'wednesday') <= 0}">{{convertTime(sumEachDay(timesheet, 'wednesday'))}}</span>
						    				</th>
						    				<th>
						    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'thursday') <= 0}">{{convertTime(sumEachDay(timesheet, 'thursday'))}}</span>
						    				</th>
						    				<th>
						    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'friday') <= 0}">{{convertTime(sumEachDay(timesheet, 'friday'))}}</span>
						    				</th>
						    				<th>
						    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'saturday') <= 0}">{{convertTime(sumEachDay(timesheet, 'saturday'))}}</span>
						    				</th>
						    				<th>
						    					<span [ngClass]="{'dormant': sumEachDay(timesheet, 'sunday') <= 0}">{{convertTime(sumEachDay(timesheet, 'sunday'))}}</span>
						    				</th>
						    				<th>
						    					
						    				</th>
						    			</tr>
						    		</tfoot>
						    		<tbody>
						    			<tr *ngFor="let project of timesheet.projects">
						    				<td width="21%">
						    					<div class="field">
						    						<div class="control">
						    							<input 
						    							[(ngModel)]="project.initiative.name"
						    							class="input is-fullwidth"
						    							disabled
						    							readonly>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="15%">
						    					<div class="field">
						    						<div class="control">
						    							<input 
						    								class="input is-fullwidth"
						    								type="text"
						    								readonly 
						    								disabled
						    								[(ngModel)]="project.task"
						    							>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="8%">
						    					<div class="field">
						    						<div class="control">
						    							<input
															[(ngModel)]="project.week.monday.hours"
															class="input is-fullwidth"
															type='text'
															disabled
														>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="8%">
						    					<div class="field">
						    						<div class="control">
						    							<input
															[(ngModel)]="project.week.tuesday.hours"
															class="input is-fullwidth"
															type='text'
															disabled
														>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="8%">
						    					<div class="field">
						    						<div class="control">
						    							<input
															[(ngModel)]="project.week.wednesday.hours"
															class="input is-fullwidth"
															type='text'
															disabled
														>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="8%">
						    					<div class="field">
						    						<div class="control">
						    							<input
															[(ngModel)]="project.week.thursday.hours"
															class="input is-fullwidth"
															type='text'
															disabled
														>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="8%">
						    					<div class="field">
						    						<div class="control">
						    							<input
															[(ngModel)]="project.week.friday.hours"
															class="input is-fullwidth"
															type='text'
															disabled
														>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="8%">
						    					<div class="field">
						    						<div class="control">
						    							<input
															[(ngModel)]="project.week.saturday.hours"
															class="input is-fullwidth"
															type='text'
															disabled
														>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="8%">
						    					<div class="field">
						    						<div class="control">
						    							<input
															[(ngModel)]="project.week.sunday.hours"
															class="input is-fullwidth"
															type='text'
															disabled
														>
						    						</div>
						    					</div>
						    				</td>
						    				<td width="8%">
						    					<div class="field">
						    						<div class="control">
						    							<input
															class="input"
															type='text'
															disabled
															[(ngModel)]="project.total"
														>
						    						</div>
						    					</div>
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    	 <div class="content" style="padding: 0px">
								      <br>
								      <div class="field is-grouped is-grouped-multiline">
									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag ">Status</span>
									      <span class="tag is-info">{{timesheet.status}}</span>
									    </div>
									  </div>

									  <div class="control">
									    <div class="tags has-addons">
									      <span class="tag ">Created:</span>
									      <span class="tag is-success">{{timesheet.time | date: HH:MM:SS}}</span>
									    </div>
									  </div>
									</div>
								    </div>
						  		</div>
						  	</div>
						   
						  </div>
						  <footer class="card-footer" *ngIf="timesheet.readOnly">
						  	<a class="card-footer-item" (click)="submitTimesheet(timesheet, timesheet.id)" *ngIf="timesheet.status === 'draft'">Submit</a>
						    <a class="card-footer-item" *ngIf="timesheet.status !== 'submitted'" (click)="timesheet.readOnly = false;">Edit</a>
						    <a class="card-footer-item" (click)="deleteTimesheet(timesheet.id)">Delete</a>
						    <a class="card-footer-item" (click)="exportTimesheet(timesheet)">Export to Excel</a>
						  </footer>
						</div>
				</div>
			</div>

			<!-- Projects Panel -->
			<div *ngIf="activePanel ==='projects'">
				<projects-list [clientId]="clientId"></projects-list>
			</div>

			<!-- Expenses Panel -->
			<div *ngIf="activePanel ==='expenses'">
				<h3>Expenses</h3>
				<hr>
			</div>

			<!-- Reports Panel -->
			<div *ngIf="activePanel ==='reports'">
				<h3>Reports</h3>
				<hr>
			</div>

			<!-- Invoices Panel -->
			<div *ngIf="activePanel ==='invoices'">
				<h3>Invoices</h3>
				<hr>
			</div>

			<!-- Edit Client Panel -->
			<div *ngIf="activePanel ==='editClient'">
				<h4 class="title is-5">Edit Client Information</h4>
				<div class="columns">
					<div class="column is-6">
						<div class="field">
				            <label class="label">Name</label>
				            <div class="control">
				              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.clientName">
				            </div>
				          </div>
					</div>
					<div class="column is-6">
					</div>
				</div>

				<h5 class="title is-5">Address</h5>

				<div class="columns">
					<div class="column is-6">
						<div class="field">
				            <label class="label">Address Line 1</label>
				            <div class="control">
				              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.address.addressLine1">
				            </div>
				          </div>
					</div>
					<div class="column is-6">
						<div class="field">
				            <label class="label">Address Line 2</label>
				            <div class="control">
				              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.address.addressLine2">
				            </div>
				          </div>
					</div>
				</div>

				<div class="columns">
					<div class="column is-6">
						<div class="field">
				            <label class="label">City</label>
				            <div class="control">
				              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.address.city">
				            </div>
				          </div>
					</div>
					<div class="column is-6">
						<div class="field">
				            <label class="label">State</label>
				            <div class="control">
				              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.address.state">
				            </div>
				          </div>
					</div>
				</div>

				<div class="columns">
					<div class="column is-6">
						<div class="field">
				            <label class="label">Zipcode</label>
				            <div class="control">
				              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.address.zipcode">
				            </div>
				        </div>
					</div>
					<div class="column is-6">
						<div class="field">
				            <label class="label">Hourly Rate</label>
				            <div class="control">
				              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.hourlyRate">
				            </div>
				        </div>
					</div>
				</div>


				<h5 class="title is-5">Manager Information</h5>
				<p>This is the person who will review and approve your timsheets</p>
				<div class="columns">
					<div class="column is-6">
						<div class="field">
				            <label class="label">Manager Name</label>
				            <div class="control">
				              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.managerName">
				            </div>
				          </div>
					</div>
					<div class="column is-6">
					<div class="field">
			            <label class="label">Manager Email</label>
			            <div class="control">
			              <input class="input is-medium" type="text" placeholder="name" [(ngModel)]="client.managerEmail">
			            </div>
			          </div>
					</div>
				</div>
				<hr>
				<span class="button is-small is-info" (click)='updateClient(client?.id, client)'>Update</span>
				<span class="button is-small is-danger" (click)='deleteClient(client?.id)'>Delete</span>
			</div>
		</div>
	</div>
</div>

<div class="modal" [ngClass]="{'is-active': timesheetModalActive === true}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <timesheet-detail-modal timesheetId="timesheet"></timesheet-detail-modal>
  </div>
</div>

<ng-template #edit>
	
</ng-template>
