<div>
  <div class="columns">
    <div class="column is-2">
      <div class="box">
        <nav class="panel">
          <a class="panel-block is-active" routerLink="/profile">
            My Profile
          </a>
          <a class="panel-block">
            Clients
          </a>
          <a class="panel-block">
            Reports
          </a>
          <a class="panel-block">
            jgthms.github.io
          </a>
          <a class="panel-block">
            daniellowtw/infboard
          </a>
          <a class="panel-block">
            mojs
          </a>
        </nav>
      </div>
    </div>
    <div class="column is-10">

      <div class="box container">
        <div class="notification is-warning">
          <button class="delete"></button>
          You have not added your billnig information let.
        </div>
        <div class="notification is-warning">
          <button class="delete"></button>
          You have not added an agency yet. You will not be able to send invoices until you add an agency
        </div>

        <div class="card" *ngFor="let client of clients | async" [routerLink]="['/client', client.id]">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{client.clientName}}</p>
                <p class="subtitle is-6">{{client.id}}</p>
              </div>
            </div>

            <div class="content">
              description will go here 
              <br>
              <time datetime="2016-1-1">{{client.time}}</time>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <button (click)="toggleClientModal()" class="button is-info">Add Client</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" [ngClass]="{'is-active': addClientModalActive === true}" #addClient>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Client Information</p>
      <button class="delete" aria-label="close"  (click)="toggleClientModal()"></button>
    </header>
    <section class="modal-card-body">
      <client-form (closeModal)="toggleClientModal()"></client-form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Add Client</button>
      <button class="button" (click)="toggleClientModal()">Cancel</button>
    </footer>
  </div>
</div>