<section class="section" id="style-guide">
	<div class="container">
		<div class="columns">
			<div class="column is-12">
				<h3 class="title is-3">Style Guide</h3>
			</div>
		</div>

		<div class="columns">
			<div class="column is-12">
				<h4 class="title is-4">Color Palette</h4>
				<hr />
				<div class="columns">
					<div class="column is-2">
						<div class="card color-palette-card">
							<div class="card-image">
							    <div class="swatch violet">
							    </div>
							</div>
							<div class="card-content centered">
								<h6 class="title is-6">Violet: </h6>
								#9730DB
							</div>
						</div>
					</div>
					<div class="column is-2">
						<div class="card color-palette-card">
							<div class="card-image">
							    <div class="swatch blue-gray">
							    	
							    </div>
							</div>
							<div class="card-content  centered">
								<h6 class="title is-6">Blue-Gray: </h6>
								#C1C834
							</div>
						</div>
					</div>
					<div class="column is-2">
						<div class="card color-palette-card">
							<div class="card-image">
							    <div class="swatch afternoon-blue">

							    </div>
							</div>
							<div class="card-content  centered">
								<h6 class="title is-6">Afternoon Blue: </h6>
								#5AB9EA
							</div>
						</div>
					</div>
					<div class="column is-2">
						<div class="card color-palette-card">
							<div class="card-image">
							    <div class="swatch carnation">
							    </div>
							</div>
							<div class="card-content  centered">
								<h6 class="title is-6">Carnation: </h6>
								#EDB5BF
							</div>
						</div>
					</div>
					<div class="column is-2">
						<div class="card color-palette-card">
							<div class="card-image">
							    <div class="swatch aqua-green">
							    </div>
							</div>
							<div class="card-content  centered">
								<h6 class="title is-6">Aqua-Green: </h6>
								#66CDAA
							</div>
						</div>
					</div>
					<div class="column is-2">
						<div class="card color-palette-card">
							<div class="card-image">
							    <div class="swatch pastelle-blue">
							    </div>
							</div>
							<div class="card-content  centered">
								<h6 class="title is-6">Pastelle Blue: </h6>
								#5680E9
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="columns">
			<div class="column is-12">
				<h4 class="title is-4">Typography</h4>
				<hr />
				<div class="columns">
					<div class="column is-6">
						<h1 class="title is-1">Title or Headline</h1>
						<h2 class="title is-2">Title or Headline</h2>
						<h3 class="title is-3">Title or Headline</h3>
						<h4 class="title is-4">Title or Headline</h4>
						<h5 class="title is-5">Title or Headline</h5>
						<h6 class="title is-6">Title or Headline</h6>
					</div>
					<div class="column is-6">
						<div class="columns">
							<div class="column">
								<h6 class="title is-6">Palanquin sans-serif</h6>
								<p>The Quick brown fox jumps over the lazy dog.</p>
								<p><strong>Bold Text</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="columns">
			<div class="column is-12">
				<h4 class="title is-4">Components</h4>
				<hr />
				<div class="columns">
					<div class="column is-6">
						<button class="button is-large">Login</button>
						<button class="button is-medium">Login</button>
						<button class="button ">Login</button>
						<button class="button is-small">Login</button>
						<hr>
						<button class="button is-primary">Action</button>
						<button class="button is-secondary">Cancel</button>
					</div>
					<div class="column is-6">
						<div class="field">
							<label class="label">Regular Input</label>
							<div class="control has-icons-left">
								<input class="input is-medium" placeholder="Email" />
								<span class="icon is-medium is-left">
						          <i class="fa fa-envelope"></i>
						        </span>
							</div>
						</div>
						<div class="field">
							<label class="label">Input with Success</label>
							<div class="control has-icons-left">
								<input class="input is-medium is-success" placeholder="Email" />
								<span class="icon is-medium is-left">
						          <i class="fa fa-envelope"></i>
						        </span>
							</div>
						</div>
						<div class="field">
							<label class="label">Input with Error</label>
							<div class="control has-icons-left">
								<input class="input is-medium is-danger" placeholder="Email" />
								<span class="icon is-medium is-left">
						          <i class="fa fa-envelope"></i>
						        </span>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="columns">
			
		</div>
	</div>
</section>